$close-button-color: #ff6b6b;
$close-minimize-color: #ffd86b;
$close-maximize-color: #6bff6e;
$font-color: #ffffff;
$display-color: #302927;
$operator-color: #ffa500;
$operand-color: #625d5c;
$reset-color: #423e3d;
$background-color: #ff8d00;
